body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.755);
}

/* Células */
.container {
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.container.x .celula:not(.x):not(.circulo):hover::after,
.container.x .celula:not(.x):not(.circulo):hover::before,
.container.circulo .celula:not(.x):not(.circulo):hover::after,
.container.circulo .celula:not(.x):not(.circulo):hover::before {
    background: rgb(255, 255, 255, 0.3) !important;
}

.celula {
    width: 100px;
    height: 100px;
    border: 2px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.celula.x,
.celula.circulo {
    cursor: not-allowed;
}

.celula:nth-child(1),
.celula:nth-child(2),
.celula:nth-child(3) {
    border-top: none;
}

.celula:nth-child(1),
.celula:nth-child(4),
.celula:nth-child(7) {
    border-left: none;
}

.celula:nth-child(3),
.celula:nth-child(6),
.celula:nth-child(9) {
    border-right: none;
}

.celula:nth-child(7),
.celula:nth-child(8),
.celula:nth-child(9) {
    border-bottom: none;
}

/* X */
.celula.x::before,
.celula.x::after,
.container.x .celula:not(.x):not(.circulo):hover::after,
.container.x .celula:not(.x):not(.circulo):hover::before {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: whitesmoke;
    position: absolute;
}

.celula.x::before, 
.container.x .celula:not(.x):not(.circulo):hover::before {
    transform: rotate(45deg);
}

.celula.x::after,
.container.x .celula:not(.x):not(.circulo):hover::after {
    transform: rotate(-45deg);
}

/* circulo */
.celula.circulo::before,
.celula.circulo::after,
.container.circulo .celula:not(.x):not(.circulo):hover::before,
.container.circulo .celula:not(.x):not(.circulo):hover::after {
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: whitesmoke;
    position: absolute;
    border-radius: 50%;
}

/* Mensagem de vitória */
.mensagem_vencedor {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(181, 21, 21, 0.8);
    flex-direction: column;
}

.mensagem_vencedor_botao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.755);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: whitesmoke;
}

.mensagem_vencedor_botao:hover {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.8);
}

.mensagem_vencedor_texto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    color: whitesmoke;
}